
body{
    background-color: rgb(44, 38, 38);
}
#hero_lol{
    width: 100%;
    height: px;
}
#hero {
    position: relative;
    margin-bottom: 150px;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  #start_quizz {
    position: absolute;
    bottom: 200px;
   right: 43%;
   top: 45%;
    width: 15%;
    height: 50px;
    background-color: rgb(16, 16, 214);
    color: white;
    font-size: 25px;
    border-radius: 30px;
  }
  #grid{
    width: 50%;
    margin:40px ;
  display: grid;
  grid-template-columns: repeat( 5,1fr) ;
  gap: 20px;
}
#champion_stats {
    margin-top: 170px;
    width: 35%; /* Largeur de l'écran des stats des champions */
    height: 900px;
    background-color: rgb(54, 48, 48);
    color: black;
    padding: 20px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-grow: 1;
    margin-top: 100px;
}
#search{
  display: flex;
  justify-content: center;
  gap: 20px;
}
#filter{
  width: 12%;
  height: 30px;
}
#searchBar{
  width: 20%;
  height: 30px;
}
#champion_stats img{
  width: 30%;
  box-shadow: black 10px 20px 20px 20px;
}
h2{
  color: white;
}
.pagination{
 width: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .pagination button{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(31, 31, 168);
    color: white;
  }
  p{
    color: white;
    margin-top: 100px;
  }
 div{
  color: white;
 }
 img:hover{
  cursor: pointer;
  }
 

